@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slowBounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15%);
    }
  }
  
  .slow-bounce {
    animation: slowBounce 3s infinite;
  }
  